<?xml version="1.0"?>
<robot name="" xmlns:xacro="https://www.ros.org/wiki/xacro">

  <gazebo reference="base_link">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="wheel_left">
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="wheel_right">
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="horizontal_slider">
    <material>Gazebo/Green</material>
  </gazebo>

  <gazebo reference="palm">
    <material>Gazebo/Green</material>
  </gazebo>

  <gazebo reference="left_finger">
    <material>Gazebo/Red</material>
  </gazebo>

  <gazebo reference="right_finger">
    <material>Gazebo/Red</material>
  </gazebo>

  <gazebo reference="left_finger_tip">
    <material>Gazebo/Yellow</material>
  </gazebo>

  <gazebo reference="right_finger_tip">
    <material>Gazebo/Yellow</material>
  </gazebo>

  <gazebo reference="camera_link">
    <material>Gazebo/Grey</material>
  </gazebo>


  <gazebo>
    <plugin filename="libgazebo_ros_diff_drive.so" name="differential_drive_controller">
      <legacyMode>false</legacyMode>
      <alwaysOn>true</alwaysOn>
      <updateRate>20</updateRate>
      <leftJoint>wheel_left_chassis</leftJoint>
      <rightJoint>wheel_right_chassis</rightJoint>
      <wheelSeparation>0.3</wheelSeparation>
      <wheelDiameter>0.2</wheelDiameter>
      <torque>0.1</torque>
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <robotBaseFrame>base_link</robotBaseFrame>
   </plugin>
  </gazebo>

  <gazebo reference="camera_link">
     <sensor type="camera" name="camera1">
       <update_rate>30.0</update_rate>
       <camera name="head">
         <horizontal_fov>1.3962634</horizontal_fov>
         <image>
           <width>800</width>
           <height>800</height>
           <format>R8G8B8</format>
         </image>
         <clip>
           <near>0.02</near>
           <far>300</far>
         </clip>
         <noise>
           <type>gaussian</type>
           <!-- Noise is sampled independently per pixel on each frame.
                That pixel's noise value is added to each of its color
                channels, which at that point lie in the range [0,1]. -->
           <mean>0.0</mean>
           <stddev>0.007</stddev>
         </noise>
       </camera>
       <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
         <alwaysOn>true</alwaysOn>
         <updateRate>0.0</updateRate>
         <cameraName>bot/camera1</cameraName>
         <imageTopicName>image_raw</imageTopicName>
         <cameraInfoTopicName>camera_info</cameraInfoTopicName>
         <frameName>camera_link</frameName>
         <hackBaseline>0.07</hackBaseline>
         <distortionK1>0.0</distortionK1>
         <distortionK2>0.0</distortionK2>
         <distortionK3>0.0</distortionK3>
         <distortionT1>0.0</distortionT1>
         <distortionT2>0.0</distortionT2>
       </plugin>
     </sensor>
   </gazebo>


</robot>
